table {
    margin: 0 auto;
    margin-top: 30px;
    font-size: large;
    position: relative;
}

th,
td {
    color: #000;
    background-color: #FFDE59;
    font-weight: bold;
    padding: 5px 25px;
    display: inline-flexbox;
    text-align: center;
}

th {
    background-color: #ffd52d;
}

td {
  font-weight: lighter;
}

.action{
    opacity: 0.75;
    transition: 0.25s;
}

a , .action:hover{
    cursor: pointer;
    color: #000;
    text-decoration: none;
    opacity: 1;
}

#Search {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 12px 40px 12px;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 11px;
    background-repeat: no-repeat;
}

input {
    border: 0;
}
input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
